!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Blog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body    
    #current_user{:align => "right"}
      - if user_signed_in?
        Signed in as #{current_user.email} .
        \#{link_to "Sign_out", destroy_user_session_path, :class=>"btn btn-light"}
      - else
        = link_to "Sign_up", new_user_registration_path , :class=>"btn btn-light"
        or #{link_to "Sign in", new_user_session_path, :class=>"btn btn-light"}
    = yield
